* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 500;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #fff;
  width: 1440px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 84px;
}

.logo h1 {
  position: relative;
  left: 47px;
  font-size: 28px;
  width: 110px;
  height: 22px;
  font-weight: 500;
  line-height: 22px;
  color: #333;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #0a2640;
}

.header-right {
  display: flex;
  align-items: center;
  margin-right: 70px;
}

.animated-button {
  position: relative;
  width: 154px;
  height: 45px;
  margin-right: 19px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
}

.animated-button img {
  opacity: 1;
}

.animated-button img {
  position: absolute;
  opacity: 0;
  animation: swap 2s infinite;
}

.animated-button .image1 {
  margin: 0;
  padding: 0;
  width: max-content;
  height: max-content;
  animation-delay: 0s;
}

.animated-button .image2 {
  width: max-content;
  height: max-content;
  margin: 0;
  padding: 0;
  animation-delay: 1.2s; /* Half of the animation duration to switch between images */
}

@keyframes swap {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}

.header-right img {
  margin-left: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* Search Bar Section */

.Search {
  background-color: #edf4f6;
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: center;
}

.Categories {
  width: 156px;
  height: 45px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 45px;
}
.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47px;
  background-color: #fff;
  border-radius: 45px;
}
.searchbar input {
  border: 0;
  width: 900px;
  height: 47px;
  background-color: #fff;
  border-radius: 45px 0 0 45px;
}
.searchbar input[type="text"] {
  padding: 17px;
}

.searchbar input[type="text"]::placeholder {
  font-weight: 500;
  font-size: 14px;
  color: #184363;
}

.searchbar button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 47px;
  background-color: #3cda5f;
  border: none;
  border-radius: 0 45px 45px 0;
  cursor: pointer;
}

/* Hero Section */

.wrapper {
  padding-left: 4.52%;
  padding-right: 4.52%;
  height: 573px;
  overflow: hidden;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.groceriesDisc {
  display: flex;
  gap: 10px;
  width: 405px;
  height: 35px;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  background-color: #3cda5f0d;
}

.hero-text h1,
.hero-text div h3 {
  font-size: 72px;
  line-height: 90.72px;
  color: #0a2640;
}

#animatedTextArea .AT1 {
  color: #fd273b;
}
#animatedTextArea .AT2 {
  color: #9747ff;
}
#animatedTextArea .AT3 {
  color: #2ad427;
}
.animated-text {
  position: relative;
  width: 115%;
  height: 90.718px;
  overflow: hidden;
}

.animated-text h3 {
  position: absolute;
  width: 120%;
  height: 90.718px;
  opacity: 0;
  animation: slide 4.5s infinite;
}

.animated-text h3:nth-child(1) {
  animation-delay: 0s;
}

.animated-text h3:nth-child(2) {
  animation-delay: 1.5s;
}

.animated-text h3:nth-child(3) {
  animation-delay: 3s;
}

@keyframes slide {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.hero-text p {
  width: 422px;
  height: 25px;
  font-size: 20px;
  font-weight: 300;
  color: #000000;
}

.hero button {
  width: 154px;
  height: 45px;
  margin-top: 46px;
  padding: 10px 20px;
  font-size: 20px;
  color: #fff;
  background-color: #3cda5f;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.hero-image {
  position: relative;
  width: 654.94px;
  height: 491.26px;
  background-image: url("./resources/image.png"),
    url("./resources/Ellipse-7.png");
  background-size: 654.94px 491.26px, 586px 413px;
  background-repeat: no-repeat;
  background-position: 0px 0px, 25.99px 84px;
}

.floating-comment {
  position: absolute;
  left: 51.99px;
  top: 437px;
  width: 439px;
  height: 95px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
}

.floating-comment div {
  position: absolute;
  top: 15px;
  left: 19px;
  width: 68px;
  height: 65px;
  background-image: url(./resources/Customer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.floating-comment h6 {
  position: absolute;
  top: 22px;
  left: 108px;
  width: 98px;
  height: 19px;
  font-size: 15px;
  line-height: 18.9px;
  color: #000000;
}

.floating-comment p {
  position: absolute;
  top: 45px;
  left: 108px;
  width: 279px;
  height: 38px;
  font-size: 15px;
  line-height: 18.9px;
  color: #777676;
}

/* Trending Section */

#HeaderTrending {
  height: 25px;
  margin-bottom: 59px;
}
#HeaderTrending p {
  position: relative;
  left: 638px;
  font-size: 20px;
  font-weight: 600;
  color: #0a2640;
}

#TrendingSection {
  position: relative;
  left: 153px;
  margin-bottom: 85px;
  height: 230px;
  width: 1135px;
}

.TrendingBoxes {
  position: absolute;
  top: 0;
  height: 200px;
  width: 195px;
  border-radius: 15px;
  border: 0.8px solid #99f5ad;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.TrendingLabels {
  position: absolute;
  bottom: 0;
  height: 25px;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}

.TB1 {
  left: 0;
  background-image: url(./resources/Trending1.png);
}

.TB2 {
  left: 240px;
  background-image: url(./resources/Trending2.png);
}
.TB3 {
  left: 480px;
  background-image: url(./resources/Trending3.png);
}
.TB4 {
  left: 720px;
  background-image: url(./resources/Trending4.png);
}
.TB5 {
  left: 960px;
  background-image: url(./resources/Trending5.png);
}

.TL1 {
  left: 60px;
}
.TL2 {
  left: 301px;
}
.TL3 {
  left: 540px;
}
.TL4 {
  left: 741px;
}
.TL5 {
  right: 42px;
}
/* Deal of Week Section */

#HeaderDeal {
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
  font-size: 24px;
  font-weight: 700;
  color: #184363;
  margin-bottom: 28px;
}
#HeaderDeal h3 {
  position: absolute;
  left: 507px;
  font-size: 24px;
  font-weight: 700;
  color: #184363;
}
#DayTimerBlock {
  position: absolute;
  left: 738px;
  display: flex;
  gap: 8px;
  height: 50px;
}
.DayTimerBoxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  color: #fff;
  background-color: #3cda5f;
  border-radius: 5px;
}

.DayTimerBoxes h5 {
  font-size: 18px;
}

.DayTimerBoxes p {
  font-size: 10px;
}

.DealofWeekSection {
  position: relative;
  left: 100px;
  height: 304.88px;
  width: 1239.5px;
  color: #184363;
}
.Deal1,
.Deal2 {
  position: absolute;
  left: 0;
  height: 304.88px;
  width: 607.75px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}
.Deal2 {
  left: 631.5px;
}
.saleTag {
  position: absolute;
}

.Deal1 img,
.Deal2 img {
  width: 302.88px;
  height: 302.88px;
  border-radius: 10px 0 0 10px;
}
.Deal1 h4,
.Deal2 h4 {
  position: absolute;
  top: 43.81px;
  left: 327.88px;
  height: 22px;
  width: 254.88px;
  font-size: 20px;
}

.dealAmount {
  position: absolute;
  top: 81.81px;
  left: 327.88px;
  height: 20px;
  width: 144.29px;
}

.points {
  position: absolute;
  left: 348px;
  height: 24px;
  font-size: 13px;
}

.point1,
.point4 {
  top: 117px;
}
.point2,
.point5 {
  top: 149px;
}

.point3,
.point6 {
  top: 181.31px;
}

.Deal1 button,
.Deal2 button {
  position: absolute;
  top: 221.81px;
  left: 327.88px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 40px;
  border-radius: 72px;
  border: none;
  font-size: 14px;
  background-color: #edf4f6;
}

.Deal1 button img,
.Deal2 button img {
  height: 18px;
  width: 18px;
  margin-right: 9px;
}

.Deal1 div,
.Deal2 div {
  position: absolute;
  top: 117px;
  left: 327.88px;
  height: 88.31px;
  width: 8px;
  padding: 6px 0 7.5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Deal1 div img,
.Deal2 div img {
  height: 8px;
  width: 8px;
}

/* Medical Instrument Section */
#HeaderMedical {
  position: relative;
  left: 626px;
  width: 188px;
  height: 32px;
  font-size: 24px;
  font-weight: 600;
  color: #184363;
  margin-bottom: 54px;
}
.medicalsection {
  position: relative;
  height: 270px;
}
.medicalsection div {
  position: absolute;
  height: 270px;
  width: 608px;
  border-radius: 10px;
}

.Med1 p,
.Med2 p {
  position: absolute;
  top: 48px;
  left: 56px;
  height: 20px;
  width: 83.63px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  background-color: #f2971f;
  border: none;
  border-radius: 10px;
}
.Med1 h4,
.Med2 h4 {
  position: absolute;
  top: 71px;
  left: 56px;
  height: 103px;
  width: 147px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #184363;
}
.Med2 h4 {
  width: 249px;
}
.Med1 button,
.Med2 button {
  position: absolute;
  top: 178px;
  left: 56px;
  height: 40px;
  width: 109.22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 72px;
  background-color: #184363;
  color: #fff;
  font-size: 15px;
}
.Med1 button img,
.Med2 button img {
  margin: 2px;
}
.Med1 {
  left: 100px;
  background-image: url(./resources/Med1.svg);
}
.Med2 {
  left: 732px;
  background-image: url("./resources/Med2.svg");
}

/* Delivery Section */

.deliverysection {
  position: relative;
  height: 500px;
}
.deliverysection div img {
  position: absolute;
  left: 74px;
  width: 500px;
  height: 500px;
  background-image: url("./resources/Polygon\ 1.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.deliverysection p {
  position: absolute;
  left: 702px;
  top: 113px;
  width: 513px;
  height: 273px;
  font-size: 72px;
  color: #2a3136;
}

.deliverysection p span {
  color: #fd273b;
}

/*  Testimonial Section */

#Headertestimonial {
  position: relative;
  left: 502px;
  width: 437px;
  height: 32px;
  font-size: 24px;
  font-weight: 600;
  color: #184363;
  margin-bottom: 54px;
}

.testimonial {
  position: relative;
  height: 782px;
  background-color: #b4fec4;
  /* background-image: url('./resources/Background-art.png');
  background-repeat: repeat;
  background-size: 50px 50px; */
}

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.0001);
  z-index: 1;
} */

.testimonial span {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 178px;
  left: 1160.23px;
  width: 176.91px;
  height: 73px;
}
.circle1,
.circle2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 74.06px;
  height: 72px;
  border-radius: 50%;
}

.circle1 img,
.circle2 img {
  width: 37.03px;
  height: 39px;
}

.testimonial p {
  position: absolute;
  top: 96px;
  left: 154.29px;
  height: 139px;
  width: 736.46px;
  font-size: 48px;
  font-weight: 400;
  color: #184363;
}

.testimonial-card {
  position: absolute;
  height: 358px;
  width: 360px;
  background-color: #fff;
  top: 307px;
  border: none;
  border-radius: 12px;
}

.testimonial-card p {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 270px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
}
.testimonial-card div {
  position: absolute;
  top: 260px;
  left: 40px;
  width: 270px;
  height: 58px;
}
.testimonial-card div img {
  height: 58px;
  width: 58px;
}
.TC1 {
  left: 154.29px;
}
.TC2 {
  height: 394px;
  left: 536.91px;
}

.TC3 {
  left: 919.54px;
}
.TC2 p {
  height: 216px;
}
.TC2 div {
  top: 296px;
}
p.Para1 {
  display: flex;
  justify-content: left;
  position: absolute;
  top: 3px;
  left: 74px;
  color: #184363;
  font-size: 16px;
  width: 196px;
  height: 22px;
}

p.Para2 {
  display: flex;
  justify-content: left;
  position: absolute;
  top: 31px;
  left: 74px;
  color: #184363;
  font-size: 14px;
  font-weight: 400;
  width: 196px;
  height: 24px;
}

/*  Signup Section */

.signup-section {
  background-image: url("./resources/Rectangle\ 1905.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 407px;
  width: 1440px;
  position: relative;
  margin-top: 27px;
}
.courierman {
  width: 332px;
  position: absolute;
  left: 128px;
  bottom: 0;
}
.signup-section p {
  position: absolute;
  height: 106px;
  width: 539px;
  top: 109.95px;
  left: 602.09px;
  font-size: 42px;
  font-weight: 600;
  color: #0a2640;
}

.signup-section button {
  position: absolute;
  height: 62px;
  width: 250px;
  top: 256.95px;
  left: 602.09px;
  color: #fff;
  background-color: #3cda5f;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}

/* Footer Section */

footer {
  background: #0a2640;
  color: #fff;
  height: 466px;
  width: 1440px;
  position: relative;
  margin-top: 25px;
}

.footer-line1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.footer-p1,
.footer-p2,
.footer-p3 {
  font-weight: 500;
  color: #ffff;
}

.footer-p1 {
  font-size: 51px;
  text-align: left;
  max-width: 279px;
  position: absolute;
  padding: 0;
  top: 85px;
  left: 150px;
}
.footer-p1 span,
header h1 span {
  color: #3cda5f;
}

.footer-tagline {
  font-size: 24px;
}

.footer-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 11px;
  max-width: 150px;
  max-height: 24px;
}

.footer-logos img {
  width: 20px;
  height: 20px;
}
.footer-p2,
.footer-p3 {
  position: absolute;
  top: 89px;
  height: 222;
  width: 121;
}
.footer-p2 {
  left: 607px;
}
.footer-p3 {
  left: 869px;
}

.footer-p2 a,
.footer-p3 a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  display: block;
  padding: 3px;
}

.footer-Cats {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  display: block;
  padding-bottom: 10px;
}

.footer-p4 img {
  height: 290px;
  position: absolute;
  bottom: 100px;
  right: 72px;
}

.footer-copyright {
  position: absolute;
  bottom: 36px;
  left: 560px;
  font-size: 24px;
  font-weight: 500;
}
